################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductApiServices/.config
/ProductApiServices/bin/Debug/net8.0
/ProductApiServices/obj
